{% extends 'base.html' %}
{% load templatetags %}
{% load static %}

{% block content %}

    <div class="container p-4">
        {% workout_navbar %}

        <div class="row">
            <div class="card" style="width: 100%">
                <h3 class="card-header">Edit workout:</h3>
            <form method="post">
            {% csrf_token %}
                  {% for schedule in schedules %}
                      <div class="col-lg-offset-2">
                        <div class="row p-4" id="exerciseSelectDiv">
                                    <div class="col-lg-2">
                                        <h4>{{ forloop.counter }}.</h4>
                                        <h4>{{ schedule.exercise.name }}</h4>
                                    </div>
                                    <div class="col">
                                        <label for="seriesSelect">Series</label>
                                        {{ schedule.series }}
                                        <input type="number" min="0" class="form-control" id="seriesSelect" placeholder="0" name="seriesInputs[]">
                                    </div>
                                    <div class="col">
                                        <label for="repsSelect">Reps</label>
                                        {{ schedule.reps }}
                                        <input type="number" min="0" class="form-control" id="repsSelect" placeholder="0" name="repsInputs[]">
                                    </div>
                                    <div class="col">
                                        <label for="weightSelect">Weight [kg]</label>
                                        {{ schedule.weight }}
                                        <input type="number" min="0" class="form-control" id="weightSelect" placeholder="0" name="weightInputs[]">
                                    </div>
                            <br>
                        </div>
                    </div>
                      <br>
                  {% endfor %}
            <br>
                    <a href={% url 'workout_detail' pk=workout_pk %}><button class="btn btn-warning">Back</button> </a>
                    <button type="submit" class="btn btn-primary">Update</button>
            </form>

            </div>
        </div>

    </div>

{% endblock %}