{% extends 'base.html' %}
{% load templatetags %}
{% load static %}

{% block content %}

    <div class="container">
        {% workout_navbar %}

        <div class="row">
            <div class="col-lg-offset-2">
                <table class="table">
                  <thead class="thead-inverse">
                    <tr>
                      <th>#</th>
                      <th>Exercise</th>
                      <th>Series</th>
                      <th>Reps</th>
                      <th>Weight</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for schedule in schedules %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ schedule.exercise.name }}</td>
                      <td>{{ schedule.series }}</td>
                      <td>{{ schedule.reps }}</td>
                      <td>{{ schedule.weight }}</td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
            </div>
        </div>
        <div class="row">
             <div class="col-lg-offset-2">
                 <a href={% url 'edit_workout' pk=workout_pk %}><button class="btn btn-success">Edit</button> </a>
             </div>
        </div>

    </div>

{% endblock %}