<div class="container">

<h2>Calendar</h2>
    <p class="lead">
        Workout preview for {{ month }}/{{ year }}
    </p>

    <div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Author</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Single event in a single day -->
                    {% for plan in plans %}
                        <tr>
                            <td class="agenda-date" class="active" rowspan="1">
                                <div class="dayofmonth">{{ plan.date_on|date:"d" }}</div>
                                <div class="dayofweek">{{ plan.date_on|date:"l" }}</div>
                                <div class="shortdate text-muted">{{ plan.date_on|date:"F" }}, {{ plan.date_on|date:"o" }}</div>
                            </td>
                            <td class="agenda-time">
                                {{ plan.workout.author }}
                            </td>
                            <td class="agenda-events">
                                <div class="agenda-event">
{#                                    <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> #}

                                    <a style="color: inherit" href={% url 'workout_detail' pk=plan.workout.id %}><h4>{{ plan.workout.name }}</h4></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>