{% load templatetags %}
{% isFriend user_id as isUserMyFriend %}

<div class="row">

                <div class="col-12 ">

                    <ul class="nav justify-content-end nav-tabs">

                            <li class="nav-item">
                                <a class="nav-link {% if current == 'userProfile' and request.user.id == user_id %}active{% endif %}" href={% url 'userProfile' pk=request.user.id %}>Mój Profil</a>
                            </li>

                        {% if request.user.id == user_id %}
                            <li class="nav-item">
                                <a class="nav-link {% if current == 'editProfile' %}active{% endif %}" href={% url 'editProfile' %}>Opcje</a>
                            </li>
                        {% endif %}


                        {% if request.user.id == user_id %}
                            <li class="nav-item">
                                <a class="nav-link {% if current == 'friends' %}active{% endif %}" href={% url 'friends_list' %}>Znajomi</a>
                            </li>
                        {% else %}
                            {% if not isUserMyFriend %}
                            <li class="nav-item">
                                <a class="nav-link " href={% url 'friend_add' pk=user_id %}>Dodaj znajomego</a>
                            </li>
                             {% endif %}
                        {% endif %}


                        {% if request.user.id == user_id %}
                            <li class="nav-item">
                                <a class="nav-link {% if current == 'inbox' %}active{% endif %}" href={% url 'inbox' %}>Wiadomości</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link " href="#">Wyślij wiadomość</a>
                            </li>
                        {% endif %}

                        {% if request.user.id == user_id %}
                            <li class="nav-item">
                                <a class="nav-link {% if current == 'become_coach' %}active{% endif %}" href={% url 'become_coach' %}>Zostań Trenerem</a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            <br><br>

        </div>