<div class="row">
    <div class='col-lg-12' style="width: 100%">
        <a href={% url 'add_workout' %}><button type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> New Workout</button></a>
        <a href={% url 'my_workout' %}><button type="button" class="btn btn-primary"><i class="fa fa-columns" aria-hidden="true"></i> My Workouts</button></a>
        <a href={% url 'calendar' %}><button type="button" class="btn btn-info"><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</button></a>
        <hr>
    </div>
</div>