{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
                <div class="col-12 ">
                    <div class="btn-group d-flex justify-content-end">
                        {% if request.user.id == coach.profile.user_id %}
                        <button class="btn">edytuj profil</button>
                        {% else %}
                        <button class="btn">wiadomość</button>
                        <button class="btn">nawiąż współpracę</button>
                        {% endif %}
                    </div>
                </div>
            <br><br>
        </div>
        <div class="row mt-5">
            <div class="col-md-8 col-sm-12">
                <div class="media">
                <img class="mr-3" src="../../{{coach.img_url}}" alt="Generic placeholder image" height="120" width="120">
                     <div class="media-body">
                     <h4>{{ coach.profile.user.first_name }} {{ coach.profile.user.last_name }}</h4>
                         <p>{{ coach.description | linebreaks }}</p>
                     </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h5>Podstawowe informacje:</h5>
                <div class="row">
                    <div class="col-sm-5 attribute_name">
                        Wiek:
                    </div>
                    <div class="col-sm-6 attribute_value">
                        {{ coach.profile.old }}
                    </div>

                </div>
                <hr class="detail_row">
                <div class="row">
                    <div class="col-sm-5 attribute_name">
                        Wzrost:
                    </div>
                    <div class="col-sm-6 attribute_value">
                        {{ coach.profile.height }}
                    </div>
                </div>
                <hr class="detail_row">
                <div class="row">
                    <div class="col-sm-5 attribute_name">
                        Waga:
                    </div>
                    <div class="col-sm-6 attribute_value">
                        {{ coach.profile.weight }}
                    </div>
                </div>
                <hr class="detail_row">
                <div class="row">
                    <div class="col-sm-5 attribute_name">
                       Na stronie od:
                    </div>
                    <div class="col-sm-6 attribute_value">
                        {{ coach.profile.user.date_joined.date }}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="row mt-4">
            <h4>Komentarze:</h4>
            <br><br>
        </div>
        {% for comment in comments %}
        <div class="row">
            <div class="col-2">
                <h5>{{ comment.author }}</h5>
                <tag><small>{{ comment.date }}</small></tag>
            </div>
            <div class="col-6">
                <br>
                {{ comment.content | linebreaks }}
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}

