{% extends 'base.html' %}
{% load static %}
{% load templatefilters %}

{% block content %}
<div class = "container">
    {% if coaches %}
    {% for coach in coaches %}
        <div class = "mt-4">
            <div class = "jumbotron">
                <div class="media">
                    <a href="/user/{{ coach.user_id }}" style="color: inherit">
                    {% if coach.user.profile.image %}
                    <img class="mr-3" src="{{ coach.user.profile.image.url }}" width="120" height="120">
                     {% else %}
                    <img class="mr-3" src="{{ media }}profile_image/profile-placeholder.png" width="120" height="120">
                    {% endif %}</a>
                     <div class="media-body">
                     <a href="/user/{{ coach.user_id }}" style="color: inherit">
                     <h5 class="mt-0">{{ coach.user.first_name }} {{ coach.user.last_name }}</h5></a>
                         <p>{{ coach.description | linebreaks }}</p>
                    </div>
                </div>

                      <a href="user/{{ coach.user_id }}" ><button class="btn btn-default" type="button" style="background-color: #ffcc00">
                          ocena : <span> {{ avg_rates|get_item:coach.user.id }} </span>
                      </button></a>


            </div>
        </div>
    {% endfor %}
    {% else %}

        <br>
        <br>
            <div class="row">
                <div class="col-md-4-offset-6">
                    <div class="jumbotron jumbotron-fluid">
                      <div class="container">
                        <h1 class="display-3">Przepraszamy</h1>
                        <p class="lead">Na obecną chwile brak trenerów w twojej okolicy.</p>
                      </div>
                    </div>
                </div>
            </div>
    {% endif %}
</div>
{% endblock %}