{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
                <div class="col-12 ">
                    <div class="btn-group d-flex justify-content-end">
                        {% if request.user.id == coach.user_id %}
                        <button class="btn">edytuj profil</button>
                        {% else %}
                        <button class="btn">wiadomość</button>
                        <button class="btn">nawiąż współpracę</button>
                        {% endif %}
                    </div>
                </div>
            <br><br>
        </div>
        <div class="row ">
            <div class="col-8">
                <div class="media">
                <img class="mr-3" src="../../{{coach.img_url}}" alt="Generic placeholder image" height="120" width="120">
                     <div class="media-body">
                     <h5 class="mt-0">{{ coach.user.first_name }} {{ coach.user.last_name }}</h5>
                         <p>{{ coach.description | linebreaks }}</p>
                     </div>
                </div>
            </div>

        </div>
        <div class="row mt-4">
            <h4>Komentarze:</h4>
            <br><br>
        </div>
        {% for comment in comments %}
        <div class="row">
            <div class="col-2">
                <h5>{{ comment.author }}</h5>
            </div>
            <div class="col-6">
                <br>
                {{ comment.content | linebreaks }}
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}

