{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="row">
            <br><br><br>
        </div>
        <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="jumbotron">
                      <h1 class="display-3">Witaj !</h1>
                      <p class="lead">Witaj w TrainPlanner, dzięki tej aplikacji będziesz mógł razem z nami rozwijać swoją pasje do zdrowego życia.</p>
                      <hr class="my-4">
                      <p>Tutaj kolejne lanie wody.</p>
                        <p class="lead">
                            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Sprawdź !
                            </a>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="row">
                                <div class="col">
                                    <div class="card" style="width: 20rem;">
                                      <img class="card-img-top" src={% static "/img/standard.jpg" %} alt="Card image cap">
                                      <div class="card-body">
                                        <h4 class="card-title">Konto Standardowe</h4>
                                        <p class="card-text">Szybkie info.</p>
                                        <a href="#" class="btn btn-primary">Wybieram !</a>
                                      </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="width: 20rem;">
                                      <img class="card-img-top" src={% static "/img/trainer.jpg" %} alt="Card image cap">
                                      <div class="card-body">
                                        <h4 class="card-title">Zostań trenerem</h4>
                                        <p class="card-text">Dodatkowo jestes se trenerem.</p>
                                        <a href="#" class="btn btn-primary">Wybieram !</a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


        </div>

{% endblock %}