{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="row">
            <br><br><br>
        </div>
        <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="jumbotron">
                      <h1 class="display-3">Welcome !</h1>
                      <p class="lead">Welcome in TrainPlanner, thanks to this application you will be able to develop your passions for a healthy life with us.</p>
                      <hr class="my-4">
                      <p>Create a free account and enjoy the benefits.</p>
                        <p class="lead">
                            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Create!
                            </a>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="card" style="width: 20rem;">
                                      <img class="card-img-top" src={% static "/img/standard.jpg" %} alt="Card image cap">
                                      <div class="card-body">
                                        <h4 class="card-title">Standard Account</h4>
                                        <p class="card-text">You can plan your workouts and check progress.</p>
                                        <a href={% url 'register' %} class="btn btn-primary">Choose !</a>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="card" style="width: 20rem;">
                                      <img class="card-img-top" src={% static "/img/trainer.jpg" %} alt="Card image cap">
                                      <div class="card-body">
                                        <h4 class="card-title">Become a Coach</h4>
                                        <p class="card-text">Paid option. You can change status later</p>
                                        <a href={% url 'register' %} class="btn btn-primary">Choose !</a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


        </div>

{% endblock %}