{% extends 'base.html' %}
{% block content %}

    <div class="container">
             <div class="row">
                <div class="col-12 ">

                    <ul class="nav justify-content-end nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link {% if request.user.id == page_user.user_id %}active{% endif %}" href={% url 'userProfile' pk=request.user.id %}>Mój Profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href={% url 'editProfile' %}>Opcje</a>
                            </li>
                        {% if request.user.id == page_user.user_id %}
                            <li class="nav-item">
                                <a class="nav-link " href="#">Wiadomości</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link " href="#">Wyślij wiadomość</a>
                            </li>
                        {% endif %}
                        {% if request.user.id == page_user.user_id %}
                            <li class="nav-item">
                                <a class="nav-link " href={% url 'become_coach' %}>Zostań Trenerem</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            <br><br>
        </div>

            <div class="row mt-5">
            <div class="col-md-4-offset-2">
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                {% if user.profile.image %}
                        <img src="{{ user.profile.image.url }}" width="250" height="250">
                         {% else %}
                        <img src="{{ media }}profile_image/profile-placeholder.png" width="250" height="250">
                        {% endif %}
                        <br><br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ image_form.image }}<br><br>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="col-md-4">
                <form method="post">
                    {% csrf_token %}
                    <h5>User Data</h5>
                    <hr>
                    <div class="form-group row">
                        <div class="col-sm-10">
                          Name : {{ user_form.first_name }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                          Surname : {{ user_form.last_name }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>

            <div class="col-md-4">
                <form method="post">
                    {% csrf_token %}
                    <h5>Factors</h5>
                    <hr>
                    <div class="form-group row">
                        <div class="col-sm-10">
                          Age : {{ profile_form.old }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                          Weight(kg) : {{ profile_form.weight }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                         Height(cm) :  {{ profile_form.height }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}