{% extends 'base.html' %}
{% load templatefilters %}
{% load templatetags %}

{% block content %}

    <div class="container">
             <div class="row">
                <div class="col-12 ">

                    <ul class="nav justify-content-end nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link {% if request.user.id == page_user.user_id %}active{% endif %}" href={% url 'userProfile' pk=request.user.id %}>Mój Profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href={% url 'editProfile' %}>Opcje</a>
                            </li>
                        {% if request.user.id == page_user.user_id %}
                            <li class="nav-item">
                                <a class="nav-link " href="#">Wiadomości</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link " href="#">Wyślij wiadomość</a>
                            </li>
                        {% endif %}
                        {% if request.user.id == page_user.user_id %}
                            <li class="nav-item">
                                <a class="nav-link " href={% url 'become_coach' %}>Zostań Trenerem</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            <br><br>
        </div>

            <div class="row mt-5">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col">

                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                    {% if user.profile.image %}
                            <img src="{{ user.profile.image.url }}" width="250" height="250">
                             {% else %}
                            <img src="{{ media }}profile_image/profile-placeholder.png" width="250" height="250">
                            {% endif %}
                            <br><br>

                        {{ image_form.image }}<br><br>

                </div>
                <div class="col">

                    <h5>User Data</h5>
                    <hr>
                    {% horizontal_form fields=user_form %}

                </div>
                <div class="col">

                    <h5>Factors</h5>
                    <hr>
                    {% horizontal_form fields=profile_form %}

                    <div class="form-group row">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>

                </div>
            </div>
            </form>
        </div>
    </div>

{% endblock %}