{% extends 'base.html' %}
{% load templatefilters %}
{% load templatetags %}

{% block content %}

    <div class="container">

    {% profile_navbar current_page="editProfile" user_id=user.id %}

            <div class="row mt-5">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col">

                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                    {% if user.profile.image %}
                            <img src="{{ user.profile.image.url }}" width="250" height="250">
                             {% else %}
                            <img src="{{ media }}profile_image/profile-placeholder.png" width="250" height="250">
                            {% endif %}
                            <br><br>

                        {{ image_form.image }}<br><br>

                </div>
                <div class="col">

                    <h5>User Data</h5>
                    <hr>
                    {% horizontal_form fields=user_form %}

                </div>
                <div class="col">

                    <h5>Factors</h5>
                    <hr>
                    {% horizontal_form fields=profile_form %}

                    <div class="form-group row">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>

                </div>
            </div>
            </form>
        </div>
    </div>

{% endblock %}