{% extends 'base.html' %}
{% load templatefilters %}
{% load templatetags %}

{% block content %}

    <div class="container p-4">

        {% profile_navbar current_page="userProfile" user_id=page_user.user.id %}

        <div class="row mt-5">
            <div class="col-md-8 col-sm-12">
                <h3>{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h3>
                {% if page_user.user.profile.image %}
                        <img src="{{ page_user.user.profile.image.url }}" width="250" height="250">
                         {% else %}
                        <img src="{{ media|placeholder_image }}" width="250" height="250">
                        {% endif %}
            </div>
            <div class="col-md-4 col-sm-12">
                <h5>User information:</h5>
                <div class="row">

                    <div class="col-sm-5 attribute_name">
                        Age:
                    </div>
                    <div class="col-sm-6 attribute_value">
                        {{ page_user.old }}
                    </div>

                </div>
                <hr class="detail_row">
                <div class="row">
                    <div class="col-sm-5 attribute_name">
                        Height:
                    </div>
                    <div class="col-sm-6 attribute_value">
                        {{ page_user.height }}
                    </div>
                </div>
                <hr class="detail_row">
                <div class="row">
                    <div class="col-sm-5 attribute_name">
                        Weight:
                    </div>
                    <div class="col-sm-6 attribute_value">
                        {{ page_user.weight }}
                    </div>
                </div>
            </div>

        <hr>
     </div>
    </div>
{% endblock %}

