{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <div class="row">

                <div class="col-12 ">

                    <ul class="nav justify-content-end nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link {% if request.user.id == page_user.user_id %}active{% endif %}" href={% url 'userProfile' pk=request.user.id %}>Mój Profil</a>
                            </li>
                        {% if request.user.id == page_user.user_id %}
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'editProfile' %}>Opcje</a>
                            </li>
                        {% endif %}
                        {% if request.user.id == page_user.user_id %}
                            <li class="nav-item">
                                <a class="nav-link " href="#">Wiadomości</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link " href="#">Wyślij wiadomość</a>
                            </li>
                        {% endif %}
                        {% if request.user.id == page_user.user_id %}
                            <li class="nav-item">
                                <a class="nav-link " href="#">Zostań Trenerem</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            <br><br>

        </div>

        <div class="row mt-5">
            <div class="col-md-8 col-sm-12">
                <h3>{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h3>
            </div>
            <div class="col-md-4 col-sm-12">
                <h5>Podstawowe informacje:</h5>
                <div class="row">
                    <div class="col-sm-5 attribute_name">
                        Wiek:
                    </div>
                    <div class="col-sm-6 attribute_value">
                        {{ page_user.old }}
                    </div>

                </div>
                <hr class="detail_row">
                <div class="row">
                    <div class="col-sm-5 attribute_name">
                        Wzrost:
                    </div>
                    <div class="col-sm-6 attribute_value">
                        {{ page_user.height }}
                    </div>
                </div>
                <hr class="detail_row">
                <div class="row">
                    <div class="col-sm-5 attribute_name">
                        Waga:
                    </div>
                    <div class="col-sm-6 attribute_value">
                        {{ page_user.weight }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

