{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">

                <div class="col-12 ">
                    <div class="btn-group d-flex justify-content-end">
                        {% if request.user.id == page_user.user_id %}
                        <button class="btn">edytuj profil</button>
                        {% endif %}
                        <button class="btn">wiadomość</button>
                        <button class="btn">jakis przycisk</button>
                    </div>
                </div>
            <br><br>

        </div>
        <div class="row">
            <div class="col">
                <h2>{{ page_user.user.username }}</h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col offset-md-1">
                <h4>Wiek: {{ page_user.old }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col offset-md-1">
                <h4>Wzrost: {{ page_user.height }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col offset-md-1">
                <h4>Waga: {{ page_user.weight }}</h4>
            </div>
        </div>
    </div>
{% endblock %}

